<div class="flex flex-col justify-start ml-5 mt-3">
    <div class="text-watsup-text mb-4 font-poppins justify-start flex text-3xl">
        Settings
    </div>
    <div class="w-2/4 shadow-md rounded-md bg-watsup-bg-secondary h-14 items-center justify-between flex p-4 cursor-pointer mt-10">
        <img class="mr-3" src="assets/images/Settings/settings_card_icon.svg">
        <div class="font-poppins text-watsup-text-white font-semibold">
            My payment methods
        </div>
        <img class="mr-3" src="assets/images/Settings/settings_arrow_icon.svg">
    </div>
    <a href="change_info">
    <div class="w-2/4 shadow-md rounded-md bg-watsup-bg-secondary h-14 items-center justify-between flex p-4 cursor-pointer mt-8">
        <img class="mr-3" src="assets/images/Settings/settings_user_icon.svg">
        <div class="font-poppins text-watsup-text-white font-semibold">
            My personal information
        </div>
        <img class="mr-3" src="assets/images/Settings/settings_arrow_icon.svg">
    </div>
    </a>
    <a href="change_password">
    <div class="w-2/4 shadow-md rounded-md bg-watsup-bg-secondary h-14 items-center justify-between flex p-4 cursor-pointer mt-8">
        <img class="mr-3" src="assets/images/Settings/settings_lock_icon.svg">
        <div class="font-poppins text-watsup-text-white font-semibold">
            Password
        </div>
        <img class="mr-3" src="assets/images/Settings/settings_arrow_icon.svg">
    </div>
    </a>
    <div class="w-2/4 shadow-md rounded-md bg-watsup-bg-secondary h-14 items-center justify-between flex p-4 cursor-pointer mt-8">
        <img class="mr-3" src="assets/images/Settings/settings_disable_icon.svg">
        <div class="ml-1 font-poppins text-watsup-text-white font-semibold">
            Disable my account
        </div>
        <img class="mr-3" src="assets/images/Settings/settings_arrow_icon.svg">
    </div>

    <div class="w-2/4 shadow-md rounded-md bg-watsup-bg-secondary h-14 items-center justify-between flex p-4 cursor-pointer mt-8">
        <img class="mr-3" src="assets/images/Settings/settings_delete_icon.svg">
        <div class="font-poppins text-watsup-text-white font-semibold">
            Delete my account
        </div>
        <img class="mr-3" src="assets/images/Settings/settings_arrow_icon.svg">
    </div>
</div>