<div class="p-4">
    <p class="text-xl text-watsup-title mb-3">Bonjour Prénom Nom</p>
    <p class="text-watsup-text-white">Vous pouvez vous connecter aux différentes plateformes</p>

    <div class="grid gap-4 mt-4 p-4">
      <div class="grid grid-cols-2 gap-2" *ngFor="let p of plateformeList">
        <label class="text-watsup-text-white">{{p.nomplateforme}}</label>
        <button type="button" (click)="openTokenDialog(p.idplateforme)" class="text-watsup-text-white bg-watsup-title font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Se connnecter</button>
      </div>     
      <!--

        <div class="grid grid-cols-2 gap-2">
            <label class="text-watsup-text-white">Binance</label>
            <button type="button" (click)="openTokenDialog()" class="text-watsup-text-white bg-watsup-title font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Se connnecter</button>
        </div>
        <div class="grid grid-cols-2 gap-2">
            <label class="text-watsup-text-white">Coinbase</label>
            <button type="button" class="text-watsup-text-white bg-watsup-title font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Se connnecter</button>
        </div>
        <div class="grid grid-cols-2 gap-2">
            <label class="text-watsup-text-white">Ftx</label>
            <button type="button" class="text-watsup-text-white bg-watsup-title font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Se connnecter</button>
        </div>
        -->
    </div>

    <p class="text-watsup-text-white mb-3">Compte(s) déjà associée(s)</p>

    <table class="table-auto text-watsup-text-white text-center">
      <!--
        <thead>
          <tr>
            <th class="px-4">Plateforme</th>
            <th class="px-4">Compte</th>
            <th class="px-4">Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Binance</td>
            <td>CPT1</td>
            <td><button type="button" class="focus:outline-none text-watsup-text-white bg-watsup-title font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Supprimer</button></td>
          </tr>
          <tr>
            <td>Binance</td>
            <td>CPT2</td>
            <td><button type="button" class="focus:outline-none text-watsup-text-white bg-watsup-title font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Supprimer</button></td>
          </tr>
          <tr>
            <td>Coinbase</td>
            <td>CPT1</td>
            <td><button type="button" class="focus:outline-none text-watsup-text-white bg-watsup-title font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Supprimer</button></td>
          </tr>
        </tbody>
        
      -->
      <thead>
        <tr>
          <th class="px-4">Plateforme</th>
          <th class="px-4">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of connectionList">
          <td>{{searchPlateformeName(c.idplateforme)}}</td>
          <td><button type="button" (click)="deleteConnection(c.idconnecter)" class="focus:outline-none text-watsup-text-white bg-watsup-title font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Supprimer</button></td>
        </tr>
      </tbody>
      </table>
</div>
