<div class="flex flex-col justify-start ml-5 mt-3">
    <div class="mb-3  text-watsup-text-gray font-poppins text-sm">
        <a href="settings" class="hover:text-watsup-title">Settings</a> > Change personnal information
    </div>

    <div class="text-watsup-text mb-4 font-poppins justify-start flex text-3xl">
        Change Personnal Information
    </div>

    <label for="input-group-1" class="block mb-2 text-sm font-medium text-watsup-text ml-5 mt-5">Username</label>
    <div class="relative mb-6 w-2/6 ml-5">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <img class="" src="assets/images/Settings/settings_user_icon.svg">
        </div>
        <input type="text" id="input-group-1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Username">
    </div>

    <label for="input-group-1" class="block mb-2 text-sm font-medium text-watsup-text ml-5 mt-5">Email</label>
    <div class="relative mb-6 w-2/6 ml-5">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <img class="" src="assets/images/Settings/settings_email_icon.svg">
        </div>
        <input type="text" id="input-group-1" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email">
    </div>

    <div class="w-2/12 h-10 bg-watsup-title rounded-md mt-8 flex justify-center items-center text-watsup-text-white text-lg font-semibold cursor-pointer self-center mr-80">
        Submit
    </div>
</div>