<div class="flex float-left bg-watsup-bg-secondary w-full justify-start flex-col items-start h-screen">
    <div class="text-watsup-text-white mt-20 text-lg font-poppins flex ml-12 cursor-pointer">
        <img class="mr-3" src="assets/images/Dashboard/logo.svg">
        Watsup
    </div>
    <div class="mt-20 ml-10">
        <div class="mt-8 text-watsup-title font-poppins font-medium leading-4 flex h-fit w-fit items-center cursor-pointer">
            <img class="mr-11 h-6" src="assets/images/Dashboard/home_icon.svg">
            Home
        </div>
        <div class="mt-8 text-watsup-text font-poppins font-medium leading-4 flex h-fit w-fit items-center cursor-pointer">
            <img class="mr-11 h-6" src="assets/images/Dashboard/accounts_icon.svg">
            Accounts
        </div>
        <div class="mt-8 text-watsup-text font-poppins font-medium leading-4 flex h-fit w-fit items-center cursor-pointer">
            <img class="mr-11 h-6" src="assets/images/Dashboard/trading_icon.svg">
            Live trade
        </div>
        <div class="mt-8 text-watsup-text font-poppins font-medium leading-4 flex h-fit w-fit items-center cursor-pointer">
            <img class="mr-11 h-6" src="assets/images/Dashboard/reports_icon.svg">
            Reports
        </div>
        <div class="mt-8 text-watsup-text font-poppins font-medium leading-4 flex h-fit w-fit items-center cursor-pointer">
            <img class="mr-11 h-6" src="assets/images/Dashboard/settings_icon.svg">
            Settings
        </div>
    </div>
    <div class="w-3/4 h-14 bg-watsup-title rounded-md flex justify-center items-center text-watsup-text-white mt-96 font-poppins ml-9 cursor-pointer">
        <img class="mr-3" src="assets/images/Dashboard/info_icon.svg">
        Guide
    </div>
</div>