<div class=" h-screen">
  <div class="m-5 text-[#A5A2B8] font-poppins">Dashboard > Statistique</div>
  <div class="mt-10 text-watsup-title text-2xl ml-5 font-poppins">
    CRYPTOMONNAIES DE VOTRE PORTEFEUILLE
  </div>

  <!--
                  Valeur négative : text-[#FF0000]
                  Valeur positive : text-[#EAB252]
                  Valeur neutre : text-[#B1D82F]
  -->

  <!-- class="w-11/12 h-64 bg-no-repeat rounded-md bg-watsup-title-secondary self-center mt-5" -->
  <table class="bg-no-repeat rounded-md bg-watsup-title-secondary m-5 p-5 h-2/5 w-full">
    <thead class="divide-y divide-[#FFFFFF]">
      <tr>
        <th class="font-poppins"></th>
        <th class="font-poppins text-left pt-3 pb-3 pl-14">Nom</th>
        <th class="font-poppins text-left pl-5">Valeur totale</th>
        <th class="font-poppins text-left pl-5">Valeur par token</th>
        <th class="font-poppins text-left pl-5">Évolution sur 24h</th>
      </tr>
    </thead>
    <tbody class="m-5 p-5">
      <tr class="divide-y divide-[#FFFFFF]">
        <td class="font-poppins font-semibold p-5" rowspan="3">Binance</td>
        <td class="px-5">
          <div class="flex font-poppins">
            <img class="mr-3 h-6" src="assets/images/Statistique/btclogo.png" />
            Bitcoin
          </div>
        </td>

        <td class="font-poppins px-5">$60709.5</td>
        <td class="font-poppins px-5">${{res.l[0]}}</td>
        <td class="text-[#EAB252] font-poppins px-5">+1.69%</td>
      </tr>
      <tr>
        <td class="font-poppins px-5">
          <div class="flex h-fit w-fit">
            <img
              class="mr-5 h-6"
              src="assets/images/Statistique/Ethereumlogo.png"
            />
            Ethereum
          </div>
        </td>
        <td class="font-poppins px-5">$6976.2</td>
        <td class="font-poppins px-5">${{res2.l[0]}}</td>
        <td class="text-[#F73229] font-poppins px-5">-5.2%</td>
      </tr>
      <tr>
        <td class="font-poppins px-5">
          <div class="flex">
            <img class="mr-3 h-6" src="assets/images/Statistique/TetherUSDlogo.png" />
            Tether USD
          </div>
        </td>
        <td class="font-poppins px-5">$297.6424</td>
        <td class="font-poppins px-5">${{res3.l[0]}}</td>
        <td class="text-[#EAB252] font-poppins px-5">+4.32%</td>
      </tr>

      <tr class="divide-y divide-[#FFFFFF]">
        <td class="font-poppins font-semibold p-5" rowspan="3">Kraken</td>
        <td class="font-poppins px-5">
          <div class="flex">
            <img class="mr-3 h-6" src="assets/images/Statistique/btclogo.png" />
            Bitcoin
          </div>
        </td>
        <td class="font-poppins px-5">$6745.5</td>
        <td class="font-poppins px-5">${{res.l[0]}}</td>
        <td class="text-[#EAB252] font-poppins px-5">+7.1%</td>
      </tr>
      <tr>
        <td class="font-poppins px-5">
          <div class="flex h-fit w-fit">
            <img
              class="mr-5 h-6"
              src="assets/images/Statistique/Ethereumlogo.png"
            />
            Ethereum
          </div>
        </td>
        <td class="font-poppins px-5">$332.2</td>
        <td class="font-poppins px-5">${{res2.l[0]}}</td>
        <td class="text-[#FF0000] font-poppins px-5">-9.1%</td>
      </tr>
      <tr>
        <td class="font-poppins px-5">
          <div class="flex">
            <img class="mr-3 h-6" src="assets/images/Statistique/TetherUSDlogo.png" />
            Tether USD
          </div>
        </td>
        <td class="font-poppins px-5">$177.7864</td>
        <td class="font-poppins px-5">${{res3.l[0]}}</td>
        <td class="text-[#B1D82F] font-poppins px-5">+0.00%</td>
      </tr>
      <tr class="divide-y divide-[#FFFFFF]">
        <td class="p-5 font-poppins font-semibold" rowspan="3">Crypto.com</td>
        <td class="font-poppins px-5">
          <div class="flex">
            <img class="mr-3 h-6" src="assets/images/Statistique/btclogo.png" />
            Bitcoin
          </div>
        </td>
        <td class="font-poppins px-5">$2248.5</td>
        <td class="font-poppins px-5">${{res.l[0]}}</td>
        <td class="text-[#EAB252] font-poppins px-5">+7.1%</td>
      </tr>
      <tr>
        <td class="font-poppins px-5">
          <div class="flex h-fit w-fit">
            <img
              class="mr-5 h-6"
              src="assets/images/Statistique/Ethereumlogo.png"
            />
            Ethereum
          </div>
        </td>
        <td class="font-poppins px-5">$2325.4</td>
        <td class="font-poppins px-5">${{res2.l[0]}}</td>
        <td class="text-[#FF0000] font-poppins px-5">-2.1%</td>
      </tr>
      <tr>
        <td class="font-poppins px-5">
          <div class="flex">
            <img class="mr-3 h-6" src="assets/images/Statistique/TetherUSDlogo.png" />
            Tether USD
          </div>
        </td>
        <td class="font-poppins px-5">$0.14268</td>
        <td class="font-poppins px-5">${{res3.l[0]}}</td>
        <td class="text-[#FF0000] font-poppins px-5">-3.23%</td>
      </tr>
    </tbody>
  </table>

  <div class="text-watsup-title text-2xl mt-5 ml-5 font-poppins">
    GRAPHIQUE MONTRANT L'ÉVOLUTION DES CRYPTOMONNAIES
  </div>
  <div class="flex">
    <google-chart
      [type]="chartData.type"
      [data]="chartData.data"
      [columns]="chartData.columnNames"
      [options]="chartData.options"
      [width]="chartData.width"
      [height]="chartData.height"
      class="ml-5 mt-5"
    >
    </google-chart>

    <google-chart
      [type]="pieData.type"
      [data]="pieData.data"
      [width]="pieData.width"
      [height]="pieData.height"
      [options]="pieData.options"
      class="ml-10 mt-5"
    >
    </google-chart>
  </div>
</div>
