<div class="m-5 text-[#A5A2B8]">Dashboard > Statistique</div>
<div class="mt-10 text-watsup-title text-2xl ml-5">CRYPTOMONNAIES DE VOTRE PORTEFEUILLE</div>
<div class="flex">
  <div>
    <table class="border-solid border-2 mt-5 ml-5 border-[#FFFFFF]">
      <thead class="border-2 border-[#FFFFFF] bg-[#7165BE]">
        <tr>
          <th></th>
          <th class="text-[#FFFFFF] p-3">Nom</th>
          <th class="text-[#FFFFFF] p-3">Valeur totale</th>
          <th class="text-[#FFFFFF] p-3">Valeur par token</th>
          <th class="text-[#FFFFFF] p-3">Évolution sur 24h</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-[#FFFFFF] bg-[#7165BE]">
        <tr>
          <td class="text-[#FFFFFF]" rowspan="3">Binance</td>
          <td class="text-[#FFFFFF] px-5">
            <div class="flex">
              <img
                class="mr-3 h-6"
                src="assets/images/Statistique/btclogo.png"
              />
              Bitcoin
            </div>
          </td>

          <td class="text-[#FFFFFF] px-5">€50 021 648</td>
          <td class="text-[#FFFFFF] px-5">€100,15</td>
          <td class="text-[#EAB252] px-5">+2.8%</td>
        </tr>
        <tr>
          <td class="text-[#FFFFFF] px-5">
            <div class="flex h-fit w-fit">
              <img
                class="mr-5 h-6"
                src="assets/images/Statistique/Ethereumlogo.png"
              />
              Ethereum
            </div>
          </td>
          <td class="text-[#FFFFFF] px-5">€182 223</td>
          <td class="text-[#FFFFFF] px-5">€1,23</td>
          <td class="text-[#F73229] px-5">-5.2%</td>
        </tr>
        <tr>
          <td class="text-[#FFFFFF] px-5">
            <div class="flex">
              <img
                class="mr-3 h-6"
                src="assets/images/Statistique/BUSDlogo.png"
              />
              BUSD
            </div>
          </td>
          <td class="text-[#FFFFFF] px-5">€1 251 044</td>
          <td class="text-[#FFFFFF] px-5">€0,93</td>
          <td class="text-[#B1D82F] px-5">+0.00%</td>
        </tr>
        <!--
                Valeur négative : text-[#FF0000]
                Valeur positive : text-[#EAB252]
                Valeur neutre : text-[#B1D82F]
        -->
        <tr>
          <td class="text-[#FFFFFF]" rowspan="3">Kraken</td>
          <td class="text-[#FFFFFF] px-5">
            <div class="flex">
              <img
                class="mr-3 h-6"
                src="assets/images/Statistique/btclogo.png"
              />
              Bitcoin
            </div>
          </td>
          <td class="text-[#FFFFFF] px-5">€5 231 922</td>
          <td class="text-[#FFFFFF] px-5">€99,12</td>
          <td class="text-[#EAB252] px-5">+7.1%</td>
        </tr>
        <tr>
          <td class="text-[#FFFFFF] px-5">
            <div class="flex h-fit w-fit">
              <img
                class="mr-5 h-6"
                src="assets/images/Statistique/Ethereumlogo.png"
              />
              Ethereum
            </div>
          </td>
          <td class="text-[#FFFFFF] px-5">€182 223</td>
          <td class="text-[#FFFFFF] px-5">€1,23</td>
          <td class="text-[#FF0000] px-5">-9.1%</td>
        </tr>
        <tr>
          <td class="text-[#FFFFFF] px-5">
            <div class="flex">
              <img
                class="mr-3 h-6"
                src="assets/images/Statistique/BUSDlogo.png"
              />
              BUSD
            </div>
          </td>
          <td class="text-[#FFFFFF] px-5">€2 111 349</td>
          <td class="text-[#FFFFFF] px-5">€0,93</td>
          <td class="text-[#B1D82F] px-5">+0.00%</td>
        </tr>
        <tr>
          <td class="text-[#FFFFFF]" rowspan="3">Crypto.com</td>
          <td class="text-[#FFFFFF] px-5">
            <div class="flex">
              <img
                class="mr-3 h-6"
                src="assets/images/Statistique/btclogo.png"
              />
              Bitcoin
            </div>
          </td>
          <td class="text-[#FFFFFF] px-5">€1 100 783</td>
          <td class="text-[#FFFFFF] px-5">€50,12</td>
          <td class="text-[#EAB252] px-5">+7.1%</td>
        </tr>
        <tr>
          <td class="text-[#FFFFFF] px-5">
            <div class="flex h-fit w-fit">
              <img
                class="mr-5 h-6"
                src="assets/images/Statistique/Ethereumlogo.png"
              />
              Ethereum
            </div>
          </td>
          <td class="text-[#FFFFFF] px-5">€922 012</td>
          <td class="text-[#FFFFFF] px-5">€1,23</td>
          <td class="text-[#FF0000] px-5">-2.1%</td>
        </tr>
        <tr>
          <td class="text-[#FFFFFF] px-5">
            <div class="flex">
              <img
                class="mr-3 h-6"
                src="assets/images/Statistique/BUSDlogo.png"
              />
              BUSD
            </div>
          </td>
          <td class="text-[#FFFFFF] px-5">€1 000 000</td>
          <td class="text-[#FFFFFF] px-5">€0,93</td>
          <td class="text-[#B1D82F] px-5">+0.00%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="text-watsup-title text-2xl mt-5 ml-5">
  GRAPHIQUE MONTRANT L'ÉVOLUTION DES CRYPTOMONNAIES
</div>
<div class="flex">
  <google-chart
    [type]="chartData.type"
    [data]="chartData.data"
    [columns]="chartData.columnNames"
    [options]="chartData.options"
    [width]="chartData.width"
    [height]="chartData.height"
    class="ml-5 mt-10"
  >
  </google-chart>

  <google-chart
    [type]="pieData.type"
    [data]="pieData.data"
    [width]="pieData.width"
    [height]="pieData.height"
    [options]="pieData.options"
    class="ml-10 mt-10"
  >
  </google-chart>
</div>

