<div class="flex flex-col justify-start">
    <div class="mt-10 ml-5 text-watsup-text-gray font-poppins text-sm">
        Dashboard > Home
    </div>

    <div class="mt-20 flex justify-between items-center">
        <div class="ml-10 text-watsup-title text-3xl font-poppins font-bold">
            ACCOUNTS
        </div>
        <div class="mr-10 text-watsup-title font-poppins text-base flex items-center cursor-pointer">
            More Accounts 
            <img class="ml-3" src="assets/images/Dashboard/arrow.svg">
        </div>
    </div>
    <div class="mt-10 flex">
        <div class="ml-10 w-1/4">
            <div class="font-poppins text-watsup-title-secondary text-2xl">
                {{plateformes[0]["nomplateforme"]}}
            </div>
            <div class=" h-40 bg-watsup-title rounded-md mt-5 flex flex-col border-watsup-title border-2 shadow-md">
                <div class="flex justify-between">
                    <div class="flex flex-col ml-3 mt-3">
                        <div class="text-watsup-text-white text-3xl font-poppins ml-2">
                            $
                        </div>
                        <div class="text-watsup-text-white text-5xl font-poppins">
                            1,820
                        </div>
                    </div>
                    <img class="mr-7 mt-5" src="assets/images/Dashboard/chart_white.svg">
                </div>
                <div class="flex justify-evenly mt-2">
                    <div class="flex flex-col">
                        <div class="font-poppins text-white ">
                            Ethereum
                        </div>
                        <div class="font-poppins text-green-400">
                            3 ETH
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="font-poppins text-white">
                            Bitcoin
                        </div>
                        <div class="font-poppins text-orange-500">
                            0.05 BTC
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="font-poppins text-white">
                            Tether
                        </div>
                        <div class="font-poppins text-yellow-400">
                            10 USDT
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ml-24 w-1/4">
            <div class="font-poppins text-watsup-title-secondary text-2xl">
                {{plateformes[1]["nomplateforme"]}}
            </div>
            <div class=" h-40 bg-watsup-text-white rounded-md mt-5 flex flex-col border-watsup-title border-2 shadow-md">
                <div class="flex justify-between">
                    <div class="flex flex-col ml-3 mt-3">
                        <div class="text-watsup-title text-3xl font-poppins ml-2">
                            $
                        </div>
                        <div class="text-watsup-title text-5xl font-poppins">
                            1,100
                        </div>
                    </div>
                    <img class="mr-7 mt-5" src="assets/images/Dashboard/chart_purple.svg">
                </div>
                <div class="flex justify-evenly mt-2">
                    <div class="flex flex-col">
                        <div class="font-poppins text-black ">
                            Ethereum
                        </div>
                        <div class="font-poppins text-green-400">
                            3 ETH
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="font-poppins text-black">
                            Bitcoin
                        </div>
                        <div class="font-poppins text-orange-500">
                            0.04 BTC
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="font-poppins text-black">
                            Tether
                        </div>
                        <div class="font-poppins text-yellow-400">
                            7 USDT
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ml-24 w-1/4  h-40 bg-watsup-text-white rounded-md mt-12 flex flex-col border-watsup-title border-2 shadow-md justify-center items-center">
            <img class="" src="assets/images/Dashboard/add_account.svg">
            <div class="font-poppins text-watsup-title text-lg">
                New Account
            </div>
        </div>
    </div>
    
    <div class="mt-10 flex justify-between items-center">
        <div class="ml-10 text-watsup-title text-3xl font-poppins font-bold">
            ACTIVITY
        </div>
        <div class="mr-10 text-watsup-title font-poppins text-base flex items-center cursor-pointer">
            More Activity 
            <img class="ml-3" src="assets/images/Dashboard/arrow.svg">
        </div>
    </div>

    <div class="w-11/12 h-64 bg-no-repeat rounded-md bg-watsup-title-secondary self-center mt-5">
        <div class="flex mt-5">
            <div class="text-white font-poppins ml-8 w-6/12">
                Transactions
            </div>
            <div class="text-white font-poppins w-2/12">
                Amount
            </div>
            <div class="text-white font-poppins w-2/12">
                Total
            </div>
            <div class="text-white font-poppins w-2/12">
                Status
            </div>
            <div class="text-white font-poppins w-2/12">
                Date
            </div>
        </div>
        <img class="ml-10 w-11/12 mt-4" src="assets/images/Dashboard/table_line.svg">
        <div class="flex mt-5">
            <div class="text-white font-poppins ml-8 w-6/12 flex items-center">
                <img class="mr-4" src="assets/images/Dashboard/ethereum_icon.svg">
                Ethereum Purchased
            </div>
            <div class="text-white font-poppins w-2/12">
                0.00154 ETH
            </div>
            <div class="text-white font-poppins w-2/12">
                USD $10
            </div>
            <div class="text-white font-poppins w-2/12">
                Pending
            </div>
            <div class="text-white font-poppins w-2/12">
                February 21, 2021    
            </div>
        </div>

        <div class="flex mt-5">
            <div class="text-white font-poppins ml-8 w-6/12 flex items-center">
                <img class="mr-4" src="assets/images/Dashboard/bitcoin_icon.svg">
                Bitcoin Purchased
            </div>
            <div class="text-white font-poppins w-2/12">
                0.3 BTC
            </div>
            <div class="text-white font-poppins w-2/12">
                USD $140
            </div>
            <div class="text-white font-poppins w-2/12">
                Done
            </div>
            <div class="text-white font-poppins w-2/12">
                February 14, 2021    
            </div>
        </div>

        <div class="flex mt-5">
            <div class="text-white font-poppins ml-8 w-6/12 flex items-center">
                <img class="mr-4" src="assets/images/Dashboard/bitcoin_icon.svg">
                Bitcoin Purchased
            </div>
            <div class="text-white font-poppins w-2/12">
                0.025 ETH
            </div>
            <div class="text-white font-poppins w-2/12">
                USD $56
            </div>
            <div class="text-white font-poppins w-2/12">
                Done
            </div>
            <div class="text-white font-poppins w-2/12">
                January 14, 2021    
            </div>
        </div>

    </div>

    <div class="flex flex-col ml-20 mt-5">
        <div class="flex">
            <div class="font-poppins text-watsup-title font-semibold w-8/12 ">
                Cryptocoin
            </div>
            <div class="font-poppins text-watsup-title font-semibold w-5/12">
                Updated
            </div>
            <div class="font-poppins text-watsup-title font-semibold w-5/12">
                Volume
            </div>
            <div class="font-poppins text-watsup-title font-semibold w-2/12">
                Price
            </div>
        </div>
        <div class="flex mt-2" [routerLink]="['/trading']"        >
            <div routerLink="trading" class="font-poppins text-watsup-text-secondary  w-8/12 ">
                Bitcoin (BTC)
            </div>
            <div class="font-poppins text-watsup-text-secondary  w-5/12">
                1 minute ago
            </div>
            <div class="font-poppins text-red-500 w-5/12 flex items-center text-watsup-text-secondary">
                {{res.v[1]}}
            </div>
            <div class="font-poppins text-watsup-text-secondary w-3/12">
                USD ${{res.c[0]}}
            </div>
        </div>
        <div class="flex mt-2" routerLink="trading">
            <div  class="font-poppins text-watsup-text-secondary  w-8/12 cursor-pointer">
                Ethereum(ETH)
            </div>
            <div class="font-poppins text-watsup-text-secondary  w-5/12">
                1 minute ago
            </div>
            <div class="font-poppins text-red-500 w-5/12 flex items-center text-watsup-text-secondary">
                {{res2.v[1]}}
            </div>
            <div class="font-poppins text-watsup-text-secondary w-3/12">
                USD ${{res2.c[0]}}
            </div>
        </div>
    </div>
</div> 
