<div class="flex flex-col bg-watsup-bg-secondary w-full items-center">
    <div class="text-watsup-text-white text-xl flex justify-center mt-10 font-poppins">
        Trader Profile
    </div>
    <img class="mt-10" src="assets/images/Dashboard/default_profile_picture.svg">
    <div class="text-watsup-text text-lg mt-5 font-poppins">
        User
    </div>
    <div class="text-watsup-title mt-5 font-poppins cursor-pointer">
        Edit Profile
    </div>
    <div class="flex flex-col self-start mt-5 ml-5 mr-5 font-poppins w-11/12">
        <div class="text-lg text-watsup-text">
            Information
        </div>

        <div class="flex justify-between mt-5">
            <div class="text-watsup-text ">
                Joined
            </div>

            <div class="text-watsup-title-secondary">
                June 22, 2020
            </div>
        </div>

        <div class="flex justify-between mt-5">
            <div class="text-watsup-text ">
                Assets Total
            </div>

            <div class="text-watsup-title">
                $2,920
            </div>
        </div>

    </div>  
    <img class="mt-10 w-11/12" src="assets/images/Dashboard/profile_separation.svg">
    <div class="mt-10 self-start w-11/12 mx-5 font-poppins">
        <div class="text-watsup-text text-lg">
            Accounts
        </div>
        <div class="mt-5 flex flex-col">
            <div class="text-watsup-title-secondary ">
                Coinbase
            </div>
            <div class="flex justify-between mr-5 mt-2">
                <div class="text-watsup-text-secondary">
                    Ethereum
                </div>
                <div class="text-white">
                    3 <span class="text-watsup-title-secondary">ETH</span>
                </div>
            </div>
            <div class="flex justify-between mr-5 mt-2">
                <div class="text-watsup-text-secondary">
                    Bitcoin
                </div>
                <div class="text-white">
                    0.05 <span class="text-watsup-title-secondary">BTC</span>
                </div>
            </div>
            <div class="flex justify-between mr-5 mt-2">
                <div class="text-watsup-text-secondary">
                    Tether
                </div>
                <div class="text-white">
                    10 <span class="text-watsup-title-secondary">USDT</span>
                </div>
            </div>
        </div>
        <div class="mt-5 flex flex-col">
            <div class="text-watsup-title-secondary ">
                Binance
            </div>
            <div class="flex justify-between mr-5 mt-2">
                <div class="text-watsup-text-secondary">
                    Ethereum
                </div>
                <div class="text-white">
                    3 <span class="text-watsup-title-secondary">ETH</span>
                </div>
            </div>
            <div class="flex justify-between mr-5 mt-2">
                <div class="text-watsup-text-secondary">
                    Bitcoin
                </div>
                <div class="text-white">
                    0.04 <span class="text-watsup-title-secondary">BTC</span>
                </div>
            </div>
            <div class="flex justify-between mr-5 mt-2">
                <div class="text-watsup-text-secondary">
                    Tether
                </div>
                <div class="text-white">
                    7 <span class="text-watsup-title-secondary">USDT</span>
                </div>
            </div>
        </div>
        <div class="text-white cursor-pointer text-sm mt-3">
            More Accounts ...
        </div>
    </div>

    <div class="w-10/12 h-16 bg-watsup-title-secondary rounded-md mt-4 flex justify-center items-center text-white text-lg font-semibold cursor-pointer">
        <img class="mr-2" src="assets/images/Dashboard/trade_now_icon.svg">
        Trade Now
    </div>

</div>